

<div class="container">
      <!--Cabeçalho-->
  <div class="row bg-primary text-center">
      <!--Titulo-->
      <div class="text-white font-weight col-sm-12">
        <h4>Meu Pokemon Favorito
          <a routerLink="/login" class="text-white link float-right">Sair</a>
        </h4>      
      </div>
  </div>    
      <!--Titulo-->
  <div class="container text-center mt-5">
        <h4>Ola, John Doe.</h4>
        <br>
        <p>Este e seu pokemon favorito abaixo<br>
          Na cidade de Belzonte faz 25 graus agora.</p>
  </div>
       <!--pokemon-->
  <div class="container border py-5 my-5">
        <!--imagem pokemon-->  
        <div class="text-center">
          <img src="https://pokemon.gameinfo.io/images/pokemon-go/131-00.png" class="rounded" alt="...">
        </div>
      <h4>Lapras (Larry)</h4>
      <p class="text-justify">Humanos quase levaram lapras a extinçao. Dizem que a tardinha este Pokemon canta 
        melancolicamente procurando pelos outros que restaram da sua especie.</p>
  </div>

</div>

